@using Telerik.Web.Mvc.UI
@model SKA.Areas.SKA.Models.ViewModels.AdditionalCorrectionViewModel

@{
    ViewBag.Title = "Data Tahun Lalu - Hapus Data Koreksi Pengurangan";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Hapus Data Koreksi Pengurangan</h2>
</div>
<div class="box-content">
    <h3>Apakah anda yakin untuk menghapus data ini?</h3>
    <br />
    <table>
        <tr>
            <td>
                Jenis
            </td>
            <td>
                :
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                Keterangan
            </td>
            <td>
                :
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                Tahun
            </td>
            <td>
                :
            </td>
            <td>
                @Html.DisplayFor(model => model.Year)
            </td>
        </tr>
    </table>
@(Html.Telerik().Grid<SKA.Areas.SKA.Models.ViewModels.AdditionalCorrectionDetailViewModel>()
                    .Name("ReductionCorrection")

                .DataKeys(keys =>
                {
                    keys.Add(p => p.Id);
                })
                .DataBinding(dataBinding =>
                {
                    dataBinding.Ajax()
                        .Select("_SelectDetail", "ReductionCorrection")
                        .Insert("_InsertDetail", "ReductionCorrection")
                        .Update("_UpdateDetail", "ReductionCorrection")
                        .Delete("_DeleteDetail", "ReductionCorrection");
                })
                .Columns(columns =>
                {
                    columns.Bound(p => p.AccountCode).Title("Kode Perkiraan");
                    //columns.Bound(p => p.AccountName).Title("Nama Perkiraan");
                    columns.Bound(p => p.Amount).Title("Jumlah").Format("Rp. {0:N}").Width(210); ;
                })
                .Pageable()
                .Scrollable()
                .Sortable()
              )
    @using (Html.BeginForm()) {
        <p>
                <input type="submit" value="Hapus" class="t-button" style ="width:60px" />
                &nbsp;
                <a class ="t-button" style ="width:60px" href="@Url.Action("Index", "ReductionCorrection", null)">Kembali</a>
        </p>
}
