@using Telerik.Web.Mvc.UI
@model SKA.Areas.Setting.Models.ViewModels.SetupLabaDitahanViewModel

<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="box-content">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
           <tr>
                <td>Cabang</td>
                <td>:</td>
                <td> 
                    @Html.DropDownList("BranchCode", (SelectList)ViewBag.Branch)
                    @Html.ValidationMessageFor(m => m.BranchCode)
                </td>
            </tr>
            <tr>
                <td>Tahun Laba Ditahan</td>
                <td>:</td>
                <td>
                  @(Html.Telerik().DatePickerFor(model => model.Years).Format("dd-MM-yyyy").Name("Years").HtmlAttributes(new { style = "width:140px" }))
                  @Html.ValidationMessageFor(model => model.Years)
                </td>
            </tr>
             <tr>
                <td>Debet</td>
                <td>:</td>
                <td>
                    @Html.TextBoxFor(model => model.Debet, new { @class = "money" })
                    @Html.ValidationMessageFor(model => model.Debet) 
                </td>
            </tr>
             <tr>
                <td>Kredit</td>
                <td>:</td>
                <td>
                    @Html.TextBoxFor(model => model.Credit, new { @class = "money" })
                    @Html.ValidationMessageFor(model => model.Credit) 
                </td>
            </tr>
            <tr><td></td><td></td><td>(example:2000.03)</td></tr>
            </table><br />
     <p>
        <input type="submit" value="Simpan" class="t-button" style ="width:60px" />
        &nbsp;
        <input type="reset" value="Reset" class="t-button" style ="width:60px" />
        &nbsp;
        <a class ="t-button" style ="width:60px" href="@Url.Action("Index", "SetupLabaDitahan", null)">Kembali</a>
    </p>
}
</div>