@model SKA.Areas.SKA.Models.ViewModels.DHHDJournalViewModel
           @using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Voucher Kas - Hapus";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Hapus Data Jurnal Daftar Utang Harus Dibayar</h2>
</div>
<div class="box-content">
    <h3>Apakah anda yakin untuk menghapus data ini?</h3>

    <table>
        <tr>
            <td>Nomor Voucher</td>
            <td>:</td>
            <td>
            @Html.DisplayFor(model=>model.VoucherNumber)
            </td>
        </tr>

        <tr>
            <td>Tanggal Transaksi</td>
            <td>:</td>
            <td>
            @Html.DisplayFor(model=>model.DateVoucher)
            </td>
        </tr>

        <tr>
            <td>Keterangan</td>
            <td>:</td>
            <td>
            @Html.DisplayFor(model => model.Description)
          
            </td>
        </tr>

        
    </table>

    <p></p>
    
     @(Html.Telerik().Grid<SKA.Areas.SKA.Models.ViewModels.DHHDJournalDetailViewModel>()
            .Name("Grid")

            .DataKeys(keys =>
            {
                keys.Add(p => p.Id);
            })
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax()
                    .Select("_SelectDetail", "DHHDJournal");
            })

            .Columns(columns =>
            {
                columns.Bound(p => p.AccountCode).Title("Perkiraan").Width(300);
                columns.Bound(p => p.Debet).Format("{0:N}").Width(120);
                columns.Bound(p => p.Kredit).Format("{0:N}").Width(120); 
            })
            .Pageable()
            .Sortable()
          )
    @using (Html.BeginForm()) {
        <br />
            <input class ="t-button" style ="width:60px" type="submit" value="Hapus" /> 
            <a class ="t-button" style ="width:60px" href="@Url.Action("Index", "DHHDJournal", null)">Batal</a>
    }
    
    </div>

