@model SKA.Areas.SKA.Models.ViewModels.DHHDJournalViewModel
           @using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Jurnal Daftar Utang Harus Dibayar - Detail ";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}


<div class="box-head">
	<h2>Detail Jurnal Daftar Utang Harus Dibayar</h2>
</div>
<div class="box-content">
    <table>
                <tr>
                    <td>Nomor Voucher</td>
                    <td>:</td>
                    <td>
                        @Html.DisplayFor(model => model.VoucherNumber)
                    </td>
                </tr>
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td>
                        @Html.DisplayFor(model => model.DateVoucher)
                    </td>
                </tr>
                <tr>
                    <td>Keterangan</td>
                    <td>:</td>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
            </table>
    @(Html.Telerik().Grid<SKA.Areas.SKA.Models.ViewModels.DHHDJournalDetailViewModel>()
            .Name("Grid")

            .DataKeys(keys =>
            {
                keys.Add(p => p.Id);
            })
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax()
                    .Select("_SelectDetail", "DHHDJournal");
            })
            .Columns(columns =>
            {
                columns.Bound(p => p.AccountCode).Title("Perkiraan").Width(300);
                columns.Bound(p => p.Debet).Title("Debet").Format("Rp. {0:N}").Width(120);
                columns.Bound(p => p.Kredit).Title("Kredit").Format("Rp. {0:N}").Width(120);
            })
            .Filterable()
            .Pageable()
            .Sortable()
          )
          <br />
        <a class ="t-button" style ="width:60px" href="@Url.Action("Index", "DHHDJournal", null)">Kembali</a>
</div>